# Contribution of daniel-jasinski
# Editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
\#*\#

# File-browser settings - anywhere
.directory

# CVS recovered versions - anywhere
.#*

# Objects and archives - anywhere
*.[oa]
*.la
*.so

# Derived files
lex.yy.c

# Corefiles
core

# Dependency files - anywhere
*.dep

# lnInclude (symlink) directories - anywhere
lnInclude

# Build directories - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
linux*mingw*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/


